
<%= form_for @landdivision, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :lot, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lot, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :size, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :frontage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :frontage, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :project_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <% if @landdivision.project_id != nil %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                land_division_path(@landdivision.project_id), :class => 'btn' %>
    <% end %>

  </div>
<% end %>
