<%- model_class = Landdivision -%>
<div class="page-header">
  <h1>  <%= link_to "Projects >", projects_path%><%=session[:projectname] %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:lot) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:size) %></th>
      <th><%= model_class.human_attribute_name(:frontage) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:project_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @landdivisions.each do |landdivision| %>
      <tr>
        <td><%= landdivision.lot %></td>
        <td><%= landdivision.address %></td>
        <td><%= landdivision.size.to_i %></td>
        <td><%= landdivision.frontage %></td>
        <td><%= landdivision.price.to_i %></td>
        <td><%= landdivision.status %></td>
        <td><%= landdivision.project_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_landdivision_path(landdivision), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      landdivision_path(landdivision),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_landdivision_path,
            :class => 'btn btn-primary' %>
