	<div id="faceimg">
		<%=image_tag "landtitle.jpg"%>	
	</div>
<div id="greyholder">

</div>
	<!--start: Wrapper-->
	<div id="wrapper">
				
		<!--start: Container -->
    	<div class="container">
	
      		<!-- start: Row -->
      		<div class="row">
	
        		<div class="span3">
          			<div class="icons-box">
          				<%= link_to image_tag("landforsale.jpg"), land_path %>
						<div class="title"><h4>Vacant Land <br>for Sale</h4></div>
						<p>
							Build your dream home on our carefully selected land in various sound-after locations. 
						</p>
						<div class="clear"></div>
					</div>
        		</div>

        		<div class="span3">
          			<div class="icons-box">
          				<%= link_to image_tag("homeandland.jpg"), homelandpack_path %>
						<div class="title"><h4>House & Land Package</h4></div>
						<p>
							Choose from our fantastic pre-designed houses and build with SA's leading builders.
						</p>
						<div class="clear"></div>
					</div>
        		</div>

        		<div class="span3">
          			<div class="icons-box">
          				<%= link_to image_tag("landdivision.jpg"), services_path %>
						<div class="title"><h4>Land Dvision Consulting</h4></div>
						<p>
							One-stop service solve all your land division problems with flexibility and high efficiency.  
						</p>
						<div class="clear"></div>
					</div>
        		</div>

        		<div class="span3">
          			<div class="icons-box">
          				<%= link_to image_tag("design.jpg"), services_path %>
						<div class="title"><h4>House Design & Consulting</h4></div>
						<p>
							Customised house design solutions to make your dream home come true.</br>

						</p>
						<div class="clear"></div>
					</div>
        		</div>


      		</div>
			<!-- end: Row -->
      		
			<hr>
		
			<!-- start Clients List -->	
			<div class="clients-carousel">
		
				<ul class="slides clients">
					
					<% @projects.each do |project|%>
						<% if project.projecttype_id==1%>
						<li><%= link_to image_tag(project.url), userland_division_path(project.id) %></li>
						<% end %>
						<% if project.projecttype_id==2%>
						<li><%= link_to image_tag(project.url), userpakages_path(project.id) %></li>
						<% end %>
						<% if project.projecttype_id==3%>
						<li><%= link_to image_tag(project.url), usernewhomes_path(project.id) %></li>
						<% end %>
					<%end%>			
				</ul>
		
			</div>
			<!-- end Clients List -->
		
			<hr>
			
	
			
		</div>
		<!--end: Container-->
	
	</div>
	<!-- end: Wrapper  -->			

  

	<!-- start: Footer -->
	<div id="footer">
		
		<!-- start: Container -->
		<div class="container">
			
			<!-- start: Row -->
			<div class="row">

					<!-- start: Contact Info -->
				<div class="span4">
					<h3>Contact Us</h3>
					<p>
						<b>Leed Goodrich Land </br>Development PTY. LTD</b>
					</p>
					<p>
						Level1-83 Greenhill Road
					</p>
					<p>	
						Wayville, SA 5034
					</p>	
					<p>	
						Phone: +61 8 7225 9193
					</p>
					<p>	
						Fax: +61 8 7225 9193
					</p>
					<p>
						Email: info@leedgoodrich.com.au
					</p>

				</div>
				<!-- end: Contact Info -->		


				<!-- start: Photo Stream -->
				<div class="span4">
					
					<h3>We are here!</h3>
					<a href="contact.html"><%= image_tag "position.png" %></a>
					
				</div>
				<!-- end: Photo Stream -->

				<div class="span4">
				
					<!-- start: Follow Us -->
					<h3>Partners</h3>
					<ul class="social-grid">
						<li>
							<div class="social-item">				
								<div class="social-info-wrap">
									<div class="social-info">
										<div class="social-info-front social-twitter">
											<a href="http://twitter.com"></a>
										</div>
										<div class="social-info-back social-twitter-hover">
											<a href="http://twitter.com"></a>
										</div>	
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="social-item">				
								<div class="social-info-wrap">
									<div class="social-info">
										<div class="social-info-front social-facebook">
											<a href="http://facebook.com"></a>
										</div>
										<div class="social-info-back social-facebook-hover">
											<a href="http://facebook.com"></a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="social-item">				
								<div class="social-info-wrap">
									<div class="social-info">
										<div class="social-info-front social-dribbble">
											<a href="http://dribbble.com"></a>
										</div>
										<div class="social-info-back social-dribbble-hover">
											<a href="http://dribbble.com"></a>
										</div>	
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="social-item">				
								<div class="social-info-wrap">
									<div class="social-info">
										<div class="social-info-front social-flickr">
											<a href="http://flickr.com"></a>
										</div>
										<div class="social-info-back social-flickr-hover">
											<a href="http://flickr.com"></a>
										</div>	
									</div>
								</div>
							</div>
						</li>
					</ul>
					<!-- end: Follow Us -->
				

				
				</div>
				
			</div>
			<!-- end: Row -->	
			
		</div>
		<!-- end: Container  -->

	</div>
	<!-- end: Footer -->


