
<!-- Start: slider -->
<div class="container">
  <div id="heroSlider" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item">
                  <div class="row-fluid">
                    <div class="span12">
                      <%=image_tag "h1.jpg"%>
                    </div>
                </div>
              </div>

              <div class="item">
                  <div class="row-fluid">
                    <div class="span12">  
                      <%=image_tag "h2.jpg"%>
                    </div>
                </div>
              </div>
              <div class="item">
                  <div class="row-fluid">
                    <div class="span12">
                      <%=image_tag "h3.jpg"%>
                    </div>
                  </div>                  
                </div>
            </div>
            <a class="left carousel-control" href="#heroSlider" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#heroSlider" data-slide="next">›</a>
          </div>
        </div>

      <!-- End: slider -->
			
	<!--start: Wrapper-->
	<div id="wrapper">
				
		<!--start: Container -->
    	<div class="container">
	
      		<!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
      		<div class="hero-unit">
        		<p>
					Say something about the business here.
				</p>

      		</div>
			<!-- end: Hero Unit -->

      		<!-- start: Row -->
      		<div class="row">
	
        		<div class="span3">
          			<div class="icons-box">
          				<%=image_tag "logos2/1.jpg"%>
						<div class="title"><h3>Land for Sale</h3></div>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clear"></div>
					</div>
        		</div>

        		<div class="span3">
          			<div class="icons-box">
          				<%=image_tag "logos2/3.jpg"%>
						<div class="title"><h3>Homeland Package</h3></div>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clear"></div>
					</div>
        		</div>

        		<div class="span3">
          			<div class="icons-box">
						<%=image_tag "logos2/2.jpg"%>
						<div class="title"><h3>Land division Consulating</h3></div>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clear"></div>
					</div>
        		</div>

        		<div class="span3">
          			<div class="icons-box">
						<%=image_tag "logos2/4.jpg"%>
						<div class="title"><h3>House Design</h3></div>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clear"></div>
					</div>
        		</div>


      		</div>
			<!-- end: Row -->
      		
			<hr>
		
			<!-- start Clients List -->	
			<div class="clients-carousel">
		
				<ul class="slides clients">
					
					<li><%= link_to image_tag(@project.url), @project %></li>
										
					<li><%= image_tag "logos2/2.jpg" %></li>	
					<li><%= image_tag "logos2/3.jpg" %></li>
					<li><%= image_tag "logos2/4.jpg" %></li>
					<li><%= image_tag "logos2/5.jpg" %></li>	
					<li><%= image_tag "logos2/6.jpg" %></li>
					<li><%= image_tag "logos2/7.JPG" %></li>
					<li><%= image_tag "logos2/8.jpg" %></li>
					<li><%= image_tag "logos2/9.jpg" %></li>
					<li><%= image_tag "logos2/10.jpg" %></li>
				</ul>
		
			</div>
			<!-- end Clients List -->
		
			<hr>
			
	
			
		</div>
		<!--end: Container-->
	
	</div>
	<!-- end: Wrapper  -->			

  

	<!-- start: Footer -->
	<div id="footer">
		
		<!-- start: Container -->
		<div class="container">
			
			<!-- start: Row -->
			<div class="row">

				<!-- start: About -->
				<div class="span4">
					
					<h3>About Us</h3>
					<p>
						Say something about us: euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
						
				</div>
				<!-- end: About -->

				<!-- start: Photo Stream -->
				<div class="span4">
					
					<h3>We are here!</h3>
					<a href="contact.html"><%= image_tag "position.png" %></a>
					
				</div>
				<!-- end: Photo Stream -->

				<div class="span4">
				
					<!-- start: Follow Us -->
					<h3>Partners</h3>
					<ul class="social-grid">
						<li>
							<div class="social-item">				
								<div class="social-info-wrap">
									<div class="social-info">
										<div class="social-info-front social-twitter">
											<a href="http://twitter.com"></a>
										</div>
										<div class="social-info-back social-twitter-hover">
											<a href="http://twitter.com"></a>
										</div>	
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="social-item">				
								<div class="social-info-wrap">
									<div class="social-info">
										<div class="social-info-front social-facebook">
											<a href="http://facebook.com"></a>
										</div>
										<div class="social-info-back social-facebook-hover">
											<a href="http://facebook.com"></a>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="social-item">				
								<div class="social-info-wrap">
									<div class="social-info">
										<div class="social-info-front social-dribbble">
											<a href="http://dribbble.com"></a>
										</div>
										<div class="social-info-back social-dribbble-hover">
											<a href="http://dribbble.com"></a>
										</div>	
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="social-item">				
								<div class="social-info-wrap">
									<div class="social-info">
										<div class="social-info-front social-flickr">
											<a href="http://flickr.com"></a>
										</div>
										<div class="social-info-back social-flickr-hover">
											<a href="http://flickr.com"></a>
										</div>	
									</div>
								</div>
							</div>
						</li>
					</ul>
					<!-- end: Follow Us -->
				

				
				</div>
				
			</div>
			<!-- end: Row -->	
			
		</div>
		<!-- end: Container  -->

	</div>
	<!-- end: Footer -->


