<%- model_class = Newhome -%>
<div class="page-header">
  <h1>  <%= link_to "Projects >", projects_path%><%=session[:projectname] %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Frontimg(700*300)</th>
      <th>Structimg(300*all)</th>
      <th>Lot</th>
      <th>Address</th>
      <th>Size</th>
      <th>Bedroom</th>
      <th>Bathroom</th>
      <th>Garage</th>
      <th>Price</th>
      <th>Status</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newhomes.each do |newhome| %>
      <tr>
        <td><%= newhome.id %> </td>
        <td><%= newhome.name %></td>
        <td><%= truncate(newhome.homedes, length: 50) %></td>
        <td><%= newhome.frontimg_identifier %></td>
        <td><%= newhome.structimg_identifier %></td>
        <td><%= newhome.lot %></td>
        <td><%= newhome.address %></td>
        <td><%= newhome.size.to_i %></td>
        <td><%= newhome.bedroom %></td>
        <td><%= newhome.bathroom %></td>
        <td><%= newhome.garage %></td>
        <td><%= newhome.price.to_i %></td>
        <td><%= newhome.status %></td>
        <td><%= newhome.project_id %></td>

        <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_newhome_path(newhome), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    newhome_path(newhome),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_newhome_path,
            :class => 'btn btn-primary' %>

