

<div class="container">
  <%= link_to "Brand New Home >", brandnewhome_path%> <%= link_to @newhome.name, usernewhomes_path(@newhome.project_id)%> >detail

</div>

<div class="container">
  <div id="packdetail">
    <div class="container">
      <h1><%= @newhome.name %></h1>
    </div>

    <div class="span8">
      <%= image_tag @newhome.frontimg%>
    </div>

    <div class="container">
      <div class="span4">
        <%= image_tag @newhome.structimg%>
      </div>
      <div class = "span4">
        <div id="packprice">
          <hr>
          <h4>Home & Land</h4>
          <p>From only</p>
          <h4><%= "$"+@newhome.price.to_s%></h4>
          <hr>
        </div>
        <div id="packdes">
          <ul id ="packedsul">
            <% @newhome.homedes.split("||").each do |text|%>
            <li><%= text%></li>
          <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>