<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:allotmentplan) %></th>
      <th><%= model_class.human_attribute_name(:isonhome) %></th>
      <th><%= model_class.human_attribute_name(:projecttype_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <% if project.projecttype_id==1%>
          <%= link_to project.id, land_division_path(project.id) %>
          <% end %>
          <% if project.projecttype_id==2%>
          <%= link_to project.id, pakages_path(project.id) %>
          <% end %>
          <% if project.projecttype_id==3%>
          <%= link_to project.id, brandnewhomes_path(project.id) %>
          <% end %>
        </td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.url %></td>
        <td><%= project.address %></td>
        <td><%= project.allotmentplan %></td>
        <td><%= project.isonhome %></td>
        <td><%= project.projecttype_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_path(project), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>
