<%= form_for @homeland, :html => { :class => 'form-horizontal', :multipart=>true } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :packagedes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :packagedes, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :frontimg, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :frontimg, :class => 'file_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :structimg, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :structimg, :class => 'file_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lot, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lot, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :size, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bedroom, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bedroom, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bathroom, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bathroom, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :garage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :garage, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">

    <div class="controls">
      <%= f.hidden_field :project_id, :class => 'text_field' %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <% if @homeland.project_id!=nil %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pakages_path(@homeland.project_id), :class => 'btn' %>
    <%end%>
  </div>
<% end %>
