<!DOCTYPE html>
<html>
<head>
  <title>Leedgood</title>

  	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end: Mobile Specific -->
  <%= stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>
<body>

<body>
	    <%if controller_name()=="welcome"%>
			<div id="faceimg">
				<%=image_tag "landtitle.jpg"%>	
			</div>
		<%end%>
		<%if controller_name()=="aboutus"%>
			<div class="container">
			  <%= image_tag "landtitle.jpg" %>
			</div>
		<%end%>
		<%if controller_name()=="services"%>
			<div class="container">
			  <%= image_tag "service.jpg" %>
			</div>
		<%end%>
		<%if controller_name()=="contact"%>
			<div class="container">
			<div>
		        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13081.808434045388!2d138.59968053965122!3d-34.94527548688498!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0cf1d061cf613%3A0x775446c8a7c66d44!2s83+Greenhill+Rd!5e0!3m2!1sen!2sau!4v1403659392038" width="100%" height="400" frameborder="0" style="border:0"></iframe>
		    </div>
		    <div>
		<%end%>
		<%if (controller_name()=='projects')||(controller_name()=='landdivisions')||(controller_name()=='homelands')||(controller_name()=='newhomes')%>
			<div class="container">
			  <%= image_tag "land.jpg" %>
			</div>
		<%end%>
		<!--start: Container -->
		<div class="container">
			
			<!--start: Row -->
			<div class="row">
					
				<!--start: Logo -->
				<div class="logo span3">
						
					<%= link_to image_tag("logo.jpg"), controller: 'welcome' %>
						
				</div>
				<!--end: Logo -->
					
				<!--start: Navigation -->
				<div class="span9">
					
					<div class="navbar navbar-inverse">
			    		<div class="navbar-inner">
			          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			            		<span class="icon-bar"></span>
			            		<span class="icon-bar"></span>
			            		<span class="icon-bar"></span>
			          		</a>
			          		<div class="nav-collapse collapse" data-no-turbolink>
			            		<ul class="nav" >
			              			<li class="<%= is_controller?('welcome') %>"><%= link_to 'Home', controller: 'welcome' %></li>
			              			<li class="dropdown <%= is_some_controller %>">
			              				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects</a>
			              				<ul class="dropdown-menu">
			              					<li><%= link_to 'Land', land_path %></li>
			              					<li><%= link_to 'Home Land Package', homelandpack_path %></li>
			            		            <li><%= link_to 'Brand New House', brandnewhome_path %></li>  				
			              				</ul>

			              			</li>
									<li class="<%= is_controller?('services') %>"><%= link_to 'Services', services_path%></li>
									<li class="<%= is_active?(contact_path) %>"><%= link_to 'Contact', contact_path%></li>

			              			<li class="<%= is_active?(aboutus_path) %>"><%= link_to 'About Us', aboutus_path%></li>
			            		</ul>
			          		</div>
			        	</div>
			      	</div>
					
				</div>	
				<!--end: Navigation -->
					
			</div>
			<!--end: Row -->
			
		</div>
		<!--end: Container-->
	<%= yield%>


	<!-- start: Copyright -->
	<div id="copyright">
	
		<!-- start: Container -->
		<div class="container">
		
			<p>
				&copy; 2014, Leed Goodrich. 
			</p>
	
		</div>
		<!-- end: Container  -->
		
	</div>	
	<!-- end: Copyright -->
</body>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</html>
